/*---------------------------------------
  VARIABLES  ( CUSTOM PROPERTIES )            
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #2e3192;
  --dark-color: #000000;
  --body-font-family: "Metropolis", sans-serif;
  --h1-font-size: clamp(2.25rem, 5vw + 1rem, 3.25rem);
  --h2-font-size: clamp(2rem, 4vw + 1rem, 2.875rem);
  --h3-font-size: clamp(1.5rem, 3vw + 1rem, 2rem);
  --h4-font-size: clamp(1.25rem, 2.5vw + 1rem, 1.75rem);
  --h5-font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
  --h6-font-size: clamp(0.875rem, 1.5vw + 0.5rem, 1.375rem);
  --p-font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
  --btn-font-size: clamp(0.875rem, 1.2vw + 0.5rem, 1.125rem);
  --copyright-font-size: clamp(0.75rem, 1vw + 0.25rem, 0.875rem);
  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --secondary-color: #2e3192;
  --p-color: #717275;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h2 {
  color: var(--secondary-color);
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }

  .navbar .nav-item:hover .nav-link {
    color: #fff;
  }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }

  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }

  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}

/*---------------------------------------
  CUSTOM BLOCK               
-----------------------------------------*/
.custom-block-wrap {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.custom-block-wrap:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.custom-block-body {
  padding: 30px;
}

.custom-block-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-block .custom-btn {
  border-radius: 0;
  display: block;
}

/* --------------------------------------
General Section
----------------------------------------- */
#genre {
  text-align: center;
  padding: 7% 0;
  font-size: 1rem;
  overflow-x: hidden;
}

.genre-card {
  padding: 10px;
  border-radius: 5%;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.118), 0 0 6px rgba(0, 0, 0, 0.162);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  margin-top: 10px;
}

.genre-row :hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.111);
  box-shadow: none;
  background: linear-gradient();
}

.genre-img {
  margin: 10px auto 10px;
  width: 50px;
}

.genre-link {
  text-decoration: none;
  color: var(--primary-color);
  font-family: sans-serif;
}

.genre-link:hover {
  color: var(--primary-color);
  font-family: sans-serif;
  text-decoration: none;
}

#genre-1 {
  text-align: center;
  padding: 5% 0;
  font-size: 1rem;
  overflow-x: hidden;
}

.genre-1-row {
  justify-content: flex-end;
}

.genre-1-card {
  padding: 10px;
  margin: 8px;
  background: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.118), 0 0 6px rgba(0, 0, 0, 0.162);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.genre-1-row :hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.111);
  box-shadow: none;
  background: linear-gradient();
}

.genre-1-link {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.genre-1-link h5 {
  color: white;
}

.genre-1-link:hover {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

/*---------------------------------------
  SCROLL BAR               
-----------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d5d5d5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a27dff;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--primary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 15px 25px;
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
  color: black;
  margin-top: 80px;
  padding: 15px 25px;
}

.custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid black;
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--primary-color);
  border-color: transparent;
  color: var(--white-color);
}


/*--------------------------------------
  FEATURES
---------------------------------------- */
.features-grid {
  padding: 1rem;
  display: grid;
  grid-template-colu: 1fr;
  gap: 3rem;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

@media (min-width: 650px) {
  .features-group {
    display: grid;
    grid-template-colu: 2fr 1fr;
    gap: 3rem;
    align-items: stretch;
  }
}

@media (min-width: 650px) {
  .inverse {
    order: 2;
  }
}

.features-image img {
  width: 100%;
}

@media (min-width: 650px) and (max-width: 899px) {
  .features-text h2 {
    font-size: 2rem;
    color: var(--primary-color);
  }
}

@media (min-width: 1200px) {
  .features-text h2 {
    font-size: 2rem;
    color: var(--primary-color);
    text-align: center;
  }
}

.features-text p {
  line-height: 1.5;
}

@media (min-width: 1200px) {
  .features-text p {
    font-size: 1.5rem;
    text-align: justify;
    color: #000000;
    font-family: sans-serif;
  }
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  background: var(--white-color);
  z-index: 9;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 0;
  margin-left: 0;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: #202020;
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  background: transparent;
  color: var(--primary-color);
}

.dropdown-menu li:last-child .dropdown-item {
  padding-top: 0;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent;
  color: var(--primary-color);
}

.dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.navbar-toggler {
  outline: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
  outline: none !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease,
    -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
  outline: none;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease,
    -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 2px;
}

.nav-link-ltr:hover::before {
  width: 90%;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-color);
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 500ms ease-in-out;
  height: 43px;
  content: "";
  position: absolute;
  background-color: #933ee342;
}

/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background: var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
}

.site-header p,
.site-header p a,
.site-header .social-icon-link {
  color: var(--white-color);
  font-size: small;
}

.site-header .social-icon {
  text-align: right;
}

.site-header .social-icon-link {
  background: transparent;
  width: inherit;
  height: inherit;
  line-height: inherit;
  margin-right: 10px;
}

/*---------------------------------------
 Footer       
-----------------------------------------*/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  border: 1px solid rgba(256, 256, 256, 0.1);
  border-radius: 40px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--light);
  font-weight: normal;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 14px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.button_container-f {
  position: absolute;
}

.btn-f {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #2e3192;
  padding: 17px 65px;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.378);
}

.btn-f span {
  position: relative;
  z-index: 1;
}

.btn-f:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #a17cff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-88%) translateY(-25%) rotate(60deg);
  transform: translateX(-98%) translateY(-25%) rotate(40deg);
}

.btn-f:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.button_container-f2 {
  position: absolute;
}

.btn-f2 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #2e3192;
  padding: 17px 75px;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.378);
}

.btn-f2 span {
  position: relative;
  z-index: 1;
}

.btn-f2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 130%;
  background: #a17cff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-88%) translateY(-25%) rotate(60deg);
  transform: translateX(-98%) translateY(-25%) rotate(40deg);
}

.btn-f2:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.button_container-f3 {
  position: absolute;
}

.btn-f3 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #2e3192;
  padding: 17px 46px;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.378);
}

.btn-f3 span {
  position: relative;
  z-index: 1;
}

.btn-f3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 126%;
  background: #a17cff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-88%) translateY(-25%) rotate(60deg);
  transform: translateX(-98%) translateY(-25%) rotate(40deg);
}

.btn-f3:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 650px;
    position: relative;
  }

  .footer .copyright {
    padding: 20px 0px 10px 1px;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
    margin-top: 215px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {

  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 650px;
    position: relative;
  }

  .footer .copyright {
    padding: 20px 0px 10px 1px;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
    margin-top: 215px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 650px;
    position: relative;
  }

  .footer .copyright {
    padding: 20px 0px 10px 1px;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
    margin-top: 215px;
  }
}

@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 290px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}

@media (min-width: 568px) {}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .featured-block {
    min-height: inherit;
  }
}

@media screen and (max-width: 1170px) {
  #hero-slide .carousel-image {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero-form {
    padding-bottom: 40px;
  }

  .navbar {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .site-header .social-icon {
    text-align: left;
    margin-top: 5px;
  }

  .hero-section-full-height {
    height: inherit;
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 26px;
    }

    h4 {
      font-size: 22px;
    }

    h5 {
      font-size: 20px;
    }

    .social-share .tags-block {
      margin-bottom: 10px;
    }
  }
}

/*---------------------------------------
Notice Board            
-----------------------------------------*/
.notice-section {
  background: url(../images/newnotice.jpeg) no-repeat #2e3192;
  height: 106px;
  padding: 0;
  overflow: hidden;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
}

.notice-section a {
  text-decoration: none;
  color: white;
}

.MidlinksOBox2 {
  float: left;
  border-right: 2px solid #ffffff;
  width: 330px;
  height: 106px !important;
  height
  /**/
  :
    /**/
    110px !important;
  font-size: 16px;
  padding: 12px 0px;
}

.MidlinksOBox2 p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  height: 103px;
  overflow: hidden;
}

.NoticeBox2 {
  float: left;
  width: 25%;
  padding: 21px 0px 13px 10px;
  background: url(../images/notice.png) no-repeat center 5px;
  /* margin-left: 37px; */
}

.NoticeBox2 {
  float: left;
  width: 25%;
  padding: 21px 0px 13px 10px;
  background: url(../images/notice.png) no-repeat center 5px;
  /* margin-left: 37px; */
}

.YourSucces2 {
  float: left;
  width: 310px;
  height: 106px;
  height
  /**/
  :
    /**/
    82px;
  padding: 12px 0px 0px 0px;
  font-size: 16px;
}

.clr {
  clear: both;
}

/* =========================
TEAM CARDS
============================ */

.section-team {
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
}

.section-team .header-section {
  margin-bottom: 50px;
}

.section-team .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #2e3192;
}

.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  background-color: #faf6ff;
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(to right, #a072e0, #2e3192);
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding 0.3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #016bec00, #00b5f700);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
  background: none;
  background-color: #ffffff00;
  color: #2e3192;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #2e3192;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

.section-tea {
  font-family: "Poppins", sans-serif;
  padding: 80px 0;
}

.section-tea .header-section {
  margin-bottom: 50px;
}

.section-tea .header-section .small-title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
  color: #2e3192;
}

.section-tea .header-section .title {
  font-weight: 700;
  font-size: 32px;
}

.section-tea .single-person {
  margin-top: 30px;
  padding: 30px;
  background-color: #faf6ff;
  border-radius: 5px;
}

.section-tea .single-person:hover {
  background: linear-gradient(to right, #a072e0, #2e3192);
}

.section-tea .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 4px dashed transparent;
  transition: padding 0.3s;
}

.section-tea .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-tea .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-tea .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #016bec00, #00b5f700);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

.section-tea .single-person:hover .person-image .icon {
  background: none;
  background-color: #ffffff00;
  color: #2e3192;
}

.section-tea .single-person .person-info .full-name {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.section-tea .single-person .person-info .speciality {
  /* text-transform: uppercase; */
  font-size: 14px;
  color: #2e3192;
}

.section-tea .single-person:hover .full-name,
.section-tea .single-person:hover .speciality {
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .row .col-4 {
    flex: 0 0 auto;
    width: 100%;
  }

  .notice-section a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
}

/* =========================
CONTACT US PAGE
============================ */

.container-c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 40px 0;
}

.container-c .card {
  position: relative;
  min-width: 325px;
  height: 260px;
  box-shadow: inset 5px 5px 5px rgba(196, 145, 247, 0.295),
    inset -5px -5px 15px rgba(158, 173, 251, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 20px;
  transition: 0.5s;
}

.container-c .card:nth-child(1) .box .content a {
  background: A17CFF;
}

.container-c .card .box {
  position: absolute;
  top: 18px;
  left: 18px;
  right: 18px;
  bottom: 18px;
  background: linear-gradient(to right, #a072e0, #2e3192);
  box-shadow: 2px 2px 15px 5px #7900ff38;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.container-c .card .box:hover {
  transform: translateY(-50px);
}

.container-c .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.container-c .card .box .content {
  padding: 20px;
  text-align: center;
}

.container-c .card .box .content h2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.066);
}

.container-c .card .box .content h3 {
  font-size: 1.6rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 4px;
}

.container-c .card .box .content h4 {
  font-size: 1.2rem;
  color: #e4d7ff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.container-c .card .box .content h6 {
  font-size: 0.9rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 8px;
}

.container-c .card .box .content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.container-c .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #a17cff;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.container-c .card .box .content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.features-text h2 {
  font-size: 2rem;
  color: var(--primary-color);
}

/* =========================
OUR RECRUITER
============================ */
.slider img {
  width: 150px;
  height: 60px;
  animation: scroll 40s linear infinite;
}

.slider h2 {
  color: var(--primary-color);
  margin: 10px;
  padding: 10px 10px 45px 10px;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 4em;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  margin-top: -100px;
  background-color: rgb(255, 255, 255);
  padding: 8em 2em;
}

@keyfra scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translatex(-1000%);
  }
}

.disp{
  border-radius: 16px;
  height:auto;
  width:95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Image width utilities */
.img-max-55 {
  max-width: 55px;
}

.img-max-400 {
  max-width: 400px;
}

.footer-logo {
  margin: -57px auto 22px;
  display: block;
  max-width: 156px;
}

/* Announcement bar */
.announcement-bar {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #2e3192;
  color: #fff;
  text-align: center;
  font-size: 18px;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
